body {
    margin: 0;
    padding: 0;
    background: #ededed;
    font-family: 'Roboto Condensed', sans-serif;
    color: #0d5794;
}

h1 {
    margin: 10px;
}

h4 {
    margin: 10px;
}

header {
    margin-bottom: 30px;
}

#wrapper {
    width: 600px;
    margin: 0 auto;
    background: #ffffff;
    padding: 40px;
}

.quiz {
    margin-bottom: 30px;
}

.quiz-heading {
    font-size: 18pt;
    font-style: italic;
    background: #0d5794;
    color: #f8f8f8;
    padding: 15px;
}

.quiz-content {
    background: #eeeeee;
    font-size: 14pt;
    padding: 15px;
}

.quiz-answer {
    background: #8bb0cb;
    padding: 15px;
}

.quiz input:focus{

    outline: 0;
}

.quiz input:hover {
    background: #ffffff;
}

.quiz input:disabled {
    background: #d3ffbe;
}

.quiz input {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-style: italic;
    background: #eeeeee;
    text-decoration: none;
    color: #0d5794;
    border: 0px solid;
    padding: 4px;
    width: 300px;
}

.quiz button:focus{
    outline: 0;
}

.quiz button:hover {
    background: #ffffff;
}

.quiz button:disabled {
    background: #d3ffbe;
}

.quiz button {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    border: 0px solid;
    color: #0d5794;
    background: #eeeeee;
    height: 29px;
    margin-left: 10px;
}

footer {
    width: 600px;
    margin: 0 auto;
    color: #878787;
    padding: 40px;
    background: #dddddd;
    text-align: center;
}